body{
	margin:0px;
	background: #D9D9D9 url('imagens/bg.jpg') no-repeat center;
	font-family: "Futura", "Calibri", sans-serif;
	font-size:14px;
	color: #000;
}
.relogio{
	background-color: transparent;
	border-width: 0px;
	text-align: center;
	font-size: 200px;
	font-weight: bolder;
}
.divTopRelogio{
	width: 100%;
	height: 300px;
}
.divMidRelogio{
	width: 300px;
	height: 150px;
}
.divTopRelogio, .divMidRelogio{
	background-color: #D9D9D9;
	text-align: center;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.inputRelogio{
	background-color: #C9C9C9;
	text-align: center;
	border: 0px;
	width: 150px;
}
.inputBotaoRelogio{
	background-color: #C9C9C9;
	text-align: center;
	border: 0px;
	width: 150px;
}
.inputBotaoRelogio:focus, .inputRelogio:focus{
	-moz-box-shadow:    inset 0 0 5px #424242;
   -webkit-box-shadow: inset 0 0 5px #424242;
   box-shadow:         inset 0 0 5px #424242;
}
.imgRelogio{
	position: absolute;
	top: 80px;
	left: 0px;
	margin: 0px;
}
#main{
	position: absolute;
	top:200px;
	left:345px;
	background-color: #D9D9D9;
	text-align: center;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
	
}
.loginAdmin{
	padding:10px;
	position: fixed;
	right: 40px;
	bottom: 0px;
	background-color:#D9D9D9;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.up{
	float:left;
	position:absolute;
	left:-999em;
}
.loginAdmin:focus .up,
.loginAdmin:hover .up{
	background-color:#D9D9D9;
	position:absolute;
	left:-120px;
	right:0px;
	padding:10px;
	bottom: 0px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}


